

<ion-view  view-title="Payment">

<style>
.signup-input-item{
  border: 0;
  height:11.04vw;
  font-size:4.35vw;
  width:90vw;
}
.signup-input-item input{
  border: 0;
  border-bottom: 1px solid #DFDFDF;
  padding: 0px;
  font-size:4.35vw;
  padding-top: 1vw;
  height:10.04vw;
  width:90vw;
}
.signup-input-item-half{
  float:left;
  width:45vw;
  margin-top:1px;
}
</style>

<ion-content style="top: 60px;  height: auto;" has-bouncing="false">
<div class="list" style=" width:90vw; left:2.5vw; ">

  <label class="item item-input signup-input-item" >
    <input type="text" placeholder="Credit Card Number" ng-model="newCard.number">
  </label>

    <div class="row">
        <div class="col">
            <label class="item item-input signup-input-item" >
                <input type="text" placeholder="MM" ng-model="newCard.exp_month">
              </label>
        </div>
        <div class="col">
            <label class="item item-input signup-input-item" >
                <input type="text" placeholder="YY" ng-model="newCard.exp_year">
              </label>
        </div>
        <div class="col">
            <label class="item item-input signup-input-item" >
                <input type="text" placeholder="CVC" ng-modal="newCard.cvc">
              </label>
        </div>
        
    </div>
    <button class="button button-full button-balanced" style="height: 15.22vw;float:left;border:0px;background-color:#33cd5f" ng-click="addCard()" >Save</button>
    <div class="list list-inset">
        <!-- <hr class="divider" /> -->
        <a class="credit-card item item-icon-left" ng-repeat="card in cards">
            <i class="icon"><img ng-src="{{getCardLogo(card.brand);}}" /></i>
            <span> {{card.brand}} ...{{card.last4}} </span>
        </a>
    </div>

</ion-content>

</ion-view>

